#config-overlay {
  text-align: center;
  color: var(--pink-color-dark);
}

#config-overlay h2 {
  margin: 0.5rem 0;
}

.form-control {
  margin: 0.5rem 0;
}

.form-control input {
  font: inherit;
  border: 1px solid var(--pink-color-dark);
  width: 15rem;
  margin: 0.5rem 0;
  padding: 0.25rem;
}

.error label {
  color: var(--red-color-error);
  font-weight: bold;
}

.error input {
  border-color: var(--red-color-error);
  background-color: rgb(255, 225, 225);
  color: var(--red-color-error);
}

#game-configuration {
  width: 90%;
  max-width: 40rem;
  margin: 4rem auto 7rem;
  text-align: center;
}

#game-configuration ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#game-configuration li {
  margin: 1rem;
  padding: 1rem;
  width: 50%;
  background-color: rgba(215, 110, 150, 0.2);
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(var(--purple-color-rgb), 0.3);
}

#game-configuration h2 {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: var(--purple-color);
}

#game-configuration h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0 0.25rem;
  color: var(--pink-color-light);
}

.player-symbol {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.25rem 0 0.5rem;
  color: var(--purple-color);
}

#start-game-btn {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}